version: 2
updates:
  - package-ecosystem: "bun" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
  - package-ecosystem: "cargo" # See documentation for possible values
    directory: "/src-tauri" # Location of package manifests
    schedule:
      interval: "weekly"
